# Arquivos do Go
*.exe
*.exe~
*.dll
*.so
*.dylib

# Arquivos de teste
*.test
*.out

# Arquivos de build
bin/
dist/

# Arquivos de desenvolvimento
.git/
.gitignore
README.md
.env

# Logs
*.log

# Arquivos temporários
*.tmp
*.temp

# IDE
.vscode/
.idea/
*.swp
*.swo

# Sistema
.DS_Store
Thumbs.db
